services:
  what2eat:
    container_name: what2eat
    image: gyueon/what2eat:latest
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    container_name: mysql
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 5s
      retries: 5