name: ec2에 배포하기

# main 브랜치에 push가 발생했을 때
on:
  push:
    branches: [ main ]

env:
  DOCKER_IMAGE_NAME: gyueon/what2eat
  EC2_SSH_USER: ubuntu
  CONTAINER_NAME: what2eat

jobs:
  build-and-push-to-docker-hub:
    runs-on: ubuntu-latest

    steps:

      - name: Git에 push한 내용 가져오기
        uses: actions/checkout@v4

      - name: JDK 17 설치하기 (temurin_17)
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: 빌드 (테스트 제외)
        run: ./gradlew clean build -x test

      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # 최신으로 사용할 이미지와 저장할 이미지 (해시값으로 구분)
      - name: Docker 이미지 빌드
        run: docker build -t ${{env.DOCKER_IMAGE_NAME}} -t ${{env.DOCKER_IMAGE_NAME}}:${GITHUB_SHA::7} .

      - name: Docker 이미지 push
        run: |
          docker push ${{env.DOCKER_IMAGE_NAME}}:latest
          docker push ${{env.DOCKER_IMAGE_NAME}}:${GITHUB_SHA::7}

  deploy-to-ec2:

    needs: build-and-push-to-docker-hub
    runs-on: ubuntu-latest

    steps:
      - name: Git에 push한 내용 가져오기
        uses: actions/checkout@v4

      - name: .env 파일 생성
        run: |
          cat <<EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: EC2에 .env 파일 복사
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ env.EC2_SSH_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          source: ".env"
          target: "/home/ubuntu/"

      - name: EC2에 docker-compose.yml 파일 복사
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ env.EC2_SSH_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: "/home/ubuntu/"

      - name: docker-compose.yml로 컨테이너 띄우기
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ env.EC2_SSH_USER }}
          port: 22
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu
            docker stop ${{env.CONTAINER_NAME}} || true
            docker rm ${{env.CONTAINER_NAME}} || true
            
            echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            
            docker compose up -d --pull always